.al-title {
   margin-top: auto;
     font-size: 24px;
    text-transform: uppercase;
    opacity: .9;
}


.content-top[_ngcontent-c1] {
    width: calc(84% + 9px);
    top: 59px;
    background-color: #058ebf;
    margin-left: 207px;
    position: relative;
    height: 24px;
    padding-left: 16px;
    border: 1px solid #58aabb;
}